<div class="row">
    <div class="col-12">
        <input type="text" placeholder="Type your command here" name="command" id="command" [(ngModel)]="cli" (keyup.enter)="execute()" class="form-control"/>
    </div>
</div>