<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-danger" id="error" role="alert" (click)="dismissError()" *ngIf="error !== ''">{{error}}</div>
            <app-table [rover]="rover" [limit]="limit" (log)="onError($event)"></app-table>
            <app-command (instruction)="onInstruction($event)"></app-command>
        </div>
    </div>
</div>