<div class="row" id="table">
    <div class="col-12">
        <div class="column" [ngStyle]="{'width':(100 / (limit + 1)) + '%'}" *ngFor="let x of width">
            <div class="square" *ngFor="let y of height">
                <span>{{x}} : {{y}}</span>
                <div id="rover" *ngIf="rover !== null && rover.x === x && rover.y === y" [ngClass]="rover.f">
                </div>
            </div>
        </div>
    </div>
</div>
