#table {margin:10px 0 0 0;}
#table > .col-12 {padding:0;border:1px solid #dedede;border-left:none;border-top:none;}
.row .column {float:left;}
.row .column .square {height:150px;border:1px solid #dedede;border-bottom:none;border-right:none;text-align:center;}
.row .column .square span {opacity:0.3;transition: all ease 0.2s;}
.row .column .square:hover span{opacity:1;}
#rover {background:url('../../../assets/bot.png') no-repeat;height:100px;width:110px;margin:auto;}
#rover.NORTH {}
#rover.SOUTH {transform: rotate(180deg);}
#rover.WEST {transform: rotate(-90deg);}
#rover.EAST {transform: rotate(90deg);}